@media screen  and (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
    }

    main{
        padding: 10px;
    }
    
    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        z-index: -1;
        background-color: #0e0e78d8;
        opacity: 1;
        background-image: radial-gradient(to left at center center, #459bf7, #0f0f70), repeating-radial-gradient(to left at center center, #459bf7, #459bf7e4, 14px, transparent 28px, transparent 14px);
        background-blend-mode: luminosity;
    }
    
    .background img{
        object-fit: cover;
    }

    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px 10px;
        background-color: black;
       z-index: 100;

    }

    header .logo{
        width: 40%;
    }
    
    header nav {
       width: 60%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 10px;
       padding-right: 5px;
       
    }

    header nav a{
        text-decoration: none;
        position: relative;
        color: white;
        font-size: 15px;
    }

    nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #459bf7;
        height: 2px;
        left: 0px;
        bottom: -2px;
        transition: all .2s linear;
        transform: scale(0);
    }

     nav a:hover::after {
        transform: scale(1);
     }

    
    main .info{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;

    }

    main .info .name{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .name .ngalan{
        position: absolute;
        bottom: 20px;
        left: 10px;
        text-transform: capitalize;
        font-size: 20px;
        color: red;
        font-weight: 700;
       
    }
    .name .hi{
        position: absolute;
        bottom: 50px;
        left: 10px;
        text-transform: capitalize;
        font-size: 30px;
        color: red;
        font-weight: 700;
       
    }

    .name .nameJade{
        font-size: 20px;
        color: cyan;
        position: absolute;
    }


    .picture{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: start;
    }
    
    main .info .picture img{
       width: 150px;
       height: 150px;
       border-radius: 10px;
       box-shadow: 0px 10px 20px 1px cyan;
       margin-top: 120px;
    }

    main .info .picture img:hover{
        scale: 1.2;
        transition: scale .5s;
    }

    main .line{
        width: 100%;
        height: 30px;
        height: 3px;
        margin-top: 25px;
        background-color: brown;
        border-radius: 10px;
    }

    main .message{
        margin-top: 10px;
        padding: 10px;
    }

    .message .text{
        color: white;
        text-align: justify;
        line-height: 30px;
        font-size: 20px;
    }

    .message .jade{
        color: brown;
    }

    .Technologies h2{
        color: white;
    }

    .Technologies{
        width: 100%;
        margin-top: 20px;
        background-color: rgba(128, 128, 128, 0.347);
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 3.125rem;
        border-radius: 10px;
    }

    .Technologies .laguages{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
        gap: 30px;
    }

    .Technologies .laguages .lang{
       width: 100%;
       display: inline-flex;
       justify-content: center;
       gap: 20px;
    }

    .lang img{
        width: 50px;
        border-radius: 100%;
    }

    .lang img:hover{
        transform: translateY(-10px);
        transition: all .2s;
        -webkit-box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);
        -moz-box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);
        box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);;
    }
}
