
body .background,
body  main,
body header{
    visibility: hidden;
    
}

body .content{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    color: red;
}

@media screen  and (max-width: 600px){

    body .no_scrool{
        overflow: hidden;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
    }

    html{
        scroll-behavior: smooth;
    }

    

    main{
        padding: 5px;
    }

   body{
    overflow-x: hidden;
   }
    body .content{
        visibility: hidden;
    }

    body .background,
    body  main,
    body header{
        visibility: visible;   
    }

    /* Loader background */
/* Loader background */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Spinner animation */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; /* Space between spinner and text */
  }
  
  /* Loading text style */
  #loader p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
  
  
  

    @keyframes smoothScrool {
        from{opacity: 0;
            scale: .5;}
        t0{opacity: 1;
            scale: 1;}
    }

    main::-webkit-scrollbar{
        display: none;
    }

     header .scroolWatcher{
        height: 4px;
        width: 100%;
       position: absolute;
        bottom: 0px;
        z-index: 1000;
        background-color: cyan;
        animation: scroolWatcher linear;
        animation-timeline: scroll();
        transform-origin: left;
        scale: 0 1;
    }
    

    @keyframes scroolWatcher {
        to{scale: 1 1;}
    }
    .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        z-index: -1;
        background-color: #0e0e78d8;
        opacity: 1;
        background-image: radial-gradient(to left at center center, #459bf7, #023336), repeating-radial-gradient(to left at center center, #083a6f, #459bf7e4, 14px, transparent 28px, transparent 14px);
        background-blend-mode: multiply;
    }
    
    .background img{
        object-fit: cover;
    }

    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px 10px;
        background-color: black;
       z-index: 100;

    }

    header .logo{
        width: 40%;
    }
    
    header nav {
       width: 60%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 10px;
       padding-right: 5px;
       
    }

    header nav a{
        text-decoration: none;
        position: relative;
        color: white;
        font-size: 15px;
    }

    nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        background-color: #459bf7;
        height: 2px;
        left: 0px;
        bottom: -2px;
        transition: all .2s linear;
        transform: scale(0);
    }

     nav a:hover::after {
        transform: scale(1);
     }

    
    main .info{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;

    }

    main .info .name{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .name .ngalan{
        position: absolute;
        bottom: 20px;
        left: 10px;
        text-transform: capitalize;
        font-size: 25px;
        color: red;
        font-weight: 700;
        text-shadow: 0 10px 5px  black;
        font-family: berdana;
        
       
    }
    .name .hi{
        position: absolute;
        bottom: 50px;
        left: 10px;
        text-transform: capitalize;
        font-size: 30px;
        color: red;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    }

    .name .nameJade{
        font-size: 20px;
        color: cyan;
        position: absolute;
    }


    .picture{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        
    }

    .picture span{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: rotateX(100deg);
        background-color: cyan;
        box-shadow: -1px 41px 184px 89px rgba(0,255,255,0.49);
        -webkit-box-shadow: -1px 41px 184px 89px rgba(0,255,255,0.49);
        -moz-box-shadow: -1px 41px 184px 89px rgba(0,255,255,0.49);
    
    }


    
    main .info .picture img{
       width: 150px;
       height: 150px;
       border-radius: 100%;
       box-shadow: 0px 10px 20px 1px cyan;
       margin-top: 120px;
       outline: 5px solid cyan;

    }

    
    main .info .picture img:hover{
        scale: 1.2;
        transition: all .7s;
        box-shadow: 0px 10px 20px 1px coral;
        outline: coral;
        outline: 5px solid coral;
    }

    main .line{
        width: 100%;
        height: 30px;
        height: 3px;
        margin-top: 25px;
        background-color: brown;
        border-radius: 10px;
    }

    main .message{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.347);
        padding: 10px;
        border-radius: 10px;
    }


    .message .text{
        color: white;
        text-align: justify;
        line-height: 40px;
        font-size: 20px;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: contain;
    }
    @keyframes fadein {
        from{scale: 0.8; opacity: 0;}
        to{scale: 1; opacity: 1;}
    }
    .message .jade{
        color: brown;
    }

    .Technologies h2{
        color: white;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover ;
        animation-range-end: contain 200px;
    }

    .Technologies{
        width: 100%;
        height: 50vh;
        margin-top: 20px;
        background-color: rgba(128, 128, 128, 0.347);
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 3.125rem;
        border-radius: 10px;
    }

    .Technologies .laguages{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
        gap: 30px;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: contain;
    }

    

    .Technologies .laguages .lang{
       width: 100%;
       display: inline-flex;
       justify-content: center;
       gap: 20px;
    }

    .lang img{
        width: 50px;
        border-radius: 100%;
        border: 3px solid transparent;

    }

    .lang img:hover{
        transform: translateY(-10px);
        transition: all .4s;
        -webkit-box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);
        -moz-box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);
        box-shadow: 23px -4px 101px 33px rgba(22,9,168,0.91);
        border-color: cyan;
    }

    .contacts{
        width: 100%;
        background-color: rgba(128, 128, 128, 0.347);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        
    }
    .contacts h2{
        color: white;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover ;
        animation-range-end: contain 200px;
    }

    .contacts .Phone, 
    .contacts .email{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: white;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover ;
        animation-range-end: contain 200px;
        
    }

    .contacts .email a{
        color: white;
        text-decoration: none;
    }

    .contacts .Phone .number{
       visibility: hidden ;
       opacity: 0;
       transition: opacity .8s ease
    }

    .contacts .Phone:hover .number{
        visibility: visible;
        cursor: pointer;
        opacity: 1;
        
    }

    .contacts .Phone .number{
        color: cyan;
        background-color: coral;
        padding: 2px;
        border-radius: 3px;
        position: absolute;
        left: 10px;
        top: 0;
        position: relative;
    }

    .contacts .Phone .number::after{
        content: '';
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid coral; 
        left: -14px;
        transform: rotate(180deg);
    }

    /* POPUP CONTENT */

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background: white;
        padding: 20px;
        box-shadow: 0px 0px 400px rgba(0, 0, 0, 0.3);
        text-align: center;
        border-radius: 10px;
        display: none;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .close-btn {
        background: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-top: 10px;
    }


    form{
        width: 100%;
        height: 80vh;
        background-color: rgba(128, 128, 128, 0.347);
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    form h2{
        color: white;
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover ;
        animation-range-end: contain 200px;
    }

    form input{
        width: 50%;
        border-radius: 5px;
        padding: 5px;
        border: none;
        outline: none;
        text-align: center;
    }

    form textarea{
        resize: none;
        border: none;
        outline: none;
        width: 70%;
        height: 150px;
        border-radius: 10px;
        text-align: center;
        padding: 40px 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;
    }

    form input,
    form textarea,
    form button{
        animation: fadein linear;
        animation-timeline: view();
        animation-range-start: cover ;
        animation-range-end: contain 200px;
    }

    form .btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    form button{
        width: 40%;
        border: none;
        outline: none;
        padding: 4px;
        border-radius: 5px;
        background-color: cyan;
        font-weight: 700;
        background: linear-gradient(to left, transparent, #14d0f1, #14d0f1); /* Initial gradient */
        border: none;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        transition: background 1s ease-in-out;
    }

    form  button:hover{
        background: linear-gradient(to right, #14d0f1, transparent); /* Gradient changes direction */
    }

    footer {
        background-color: #222;
        background-color: rgba(128, 128, 128, 0.347);
        color: #fff;
        padding: 15px 0;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

    .footer-container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }


}